#### DOCKER #####
#### RENAME TO .env #####
APCU_VERSION=5.1.11
NODEJS_VERSION=8.x
PHP_VERSION=7.2

#### MY USER ####
# Executer les commandes id -u (pour VALUE_USER_ID) et id -g (pour VALUE_GROUP_ID) et mettre la valeur, par défaut 1000
USER_ID=
GROUP_ID=